<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>EM Youth Status</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
    /* Sticky footer styles
    -------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
    }

    .container {
      width: auto;
      max-width: 880px;
      padding: 0 15px;
    }
    .container .text-muted {
      margin: 20px 0;
    }
    
    a.actions{
      float: right;
      text-decoration: none;
    }
    
    </style>
  </head>

  <body>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Grounded</h1>
      </div>

      <p class="lead">Click on a username to see more information about their last check in</p>

      <% if green.any? %>
      <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading">Recently checked in</div>
        <!-- List group -->
        <% green.each do |green| %>
        <ul class="list-group">
          <li class="list-group-item"><a href="/status/<%= green.instagram_id %>"><%= green.instagram_name %></a> <a href="sms:<%= green.phone_number %>" class="actions"><span class="label label-success">Send props!</span> <span class="glyphicon glyphicon-phone"></span></a></li>
        </ul>
        <% end %>
      </div>
      <% end %>
      
      <% if orange.any? %>
      <div class="panel panel-warning">
        <!-- Default panel contents -->
        <div class="panel-heading">1 hour overdue</div>
        <!-- List group -->
        <% orange.each do |orange| %>
        <ul class="list-group">
          <li class="list-group-item"><a href="/status/<%= orange.instagram_id %>"><%= orange.instagram_name %></a> <a href="sms:<%= orange.phone_number %>" class="actions"><span class="label label-warning">Send reminder</span> <span class="glyphicon glyphicon-phone"></span></a></li>
        </ul>
        <% end %>
      </div>
      <% end %>
      
      <% if red.any? %>
      <div class="panel panel-danger">
        <!-- Default panel contents -->
        <div class="panel-heading">2 hours overdue</div>
        <!-- List group -->
        <% red.each do |red| %>
        <ul class="list-group">
          <li class="list-group-item"><a href="/status/<%= red.instagram_id %>"><%= red.instagram_name %></a> <a href="tel:<%= red.phone_number %>" class="actions"><span class="label label-danger">Call now</span> <span class="glyphicon glyphicon-phone"></span></a></li>
        </ul>
        <% end %>
      </div>
      <% end %>

    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">Grounded, part of #hackforchange. <a href="https://github.com/arfon/grounded">GitHub</a></p>
      </div>
    </div>
  </body>
</html>
